@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);
.item-template, .inquiry-list .valve, .inquiry-list .instrumentation, .inquiry-list .actuator, .inquiry-list .dust-collector {
  width: 50vw;
  margin-top: 20px;
  background: #30BCED;
  color: #03191E;
  padding: 0px 40px 10px 40px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr [a] 1fr [b];
  grid-template-rows: auto;
  box-shadow: 0px 10px 15px #545E75; }

.product-inquiry, .inquiry-list {
  grid-area: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: stretch; }

.inquiry-list .valve, .inquiry-list .instrumentation {
  grid-template-areas: "header header" "item-img item-img" "media pressure" "temperature pipesize" "pipesize-info pipesize-info" "additional-info additional-info"; }

.inquiry-list .valve > *, .inquiry-list .instrumentation > * {
  margin-top: 10px; }

.inquiry-list .actuator {
  grid-template-areas: "header header" "item-img item-img" "valvesize torque" "valve-desc valve-desc" "stemdimensions returntype" "additional-info additional-info"; }

.inquiry-list .actuator > * {
  margin-top: 10px; }

.inquiry-list .dust-collector {
  grid-template-areas: "header header" "item-img item-img" "particulatetype particulatesize" "temperature temperature" "additional-info additional-info"; }

.inquiry-list .dust-collector > * {
  margin-top: 10px; }

.add-item, .submit-inquiry {
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
  width: 50vw;
  margin-top: 20px;
  margin-bottom: 10px;
  background: #30BCED;
  color: #931621;
  padding: 10px 40px 10px 40px;
  border-radius: 5px;
  box-shadow: 0px 10px 15px #545E75; }

.submit-inquiry {
  background: #931621;
  color: #30BCED; }

.item-buttons {
  display: flex; }

.edit-icon {
  width: 3vw;
  height: 3vw;
  background: #30BCED;
  color: #30BCED;
  margin: 10px 10px 10px 0px;
  border-radius: 5px;
  box-shadow: 0px 10px 15px #545E75;
  background-image: url("pencil.svg");
  background-size: 6vw;
  background-position: 47% 10%; }

.delete-icon {
  width: 3vw;
  height: 3vw;
  background: #30BCED;
  color: #30BCED;
  margin: 10px 10px 10px 0px;
  border-radius: 5px;
  box-shadow: 0px 10px 15px #545E75;
  background-image: url("trash.svg");
  background-size: 7vw;
  background-position: 41% 11%; }
