@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);
.footer {
  margin-top: 10px;
  background: #545E75;
  background: -webkit-linear-gradient(#545E75, #03191E);
  background: -o-linear-gradient(#545E75, #03191E);
  background: -moz-linear-gradient(#545E75, #03191E);
  background: linear-gradient(#545E75, #03191E);
  color: #30BCED;
  padding: 10px 20px 10px 20px;
  display: grid;
  grid-template-columns: 1fr [a] 1fr [b] 1fr [c] 1fr [d] 1fr [e] 1fr [f];
  grid-template-rows: auto; }

.design {
  color: #03191E;
  text-align: center; }
