@import 'colors'
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700)

// Theme 1
$lighterColor:  white
$lightColor:  $pictonBlue
$mediumColor: $rubyRed
$darkColor:  $blackCoral
$darkerColor: $richBlack
$mainFont: 'Ubuntu'

// Theme
// $lighterColor:
// $lightColor:
// $mediumColor:
// $darkColor:
// $darkerColor:
